In [2]:
import pandas as pd

students_df = pd.read_csv("resource/students.csv")
print(students_df.shape)

(24, 4)

In [3]:
students_df.head()

   student_id  license  gender  grade
0           0        0       0      1
1           1        1       1      2
2           2        1       0      3
3           3        1       1      4
4           4        0       1      1

In [4]:
cars_df = pd.read_csv("resource/cars.csv")
print(cars_df.shape)

(6, 2)

In [5]:
cars_df

   car_id  capacity
0       0         6
1       1         6
2       2         5
3       3         4
4       4         5
5       5         5