In [1]:
import pandas as pd

s_df = pd.read_csv("students.csv")
len(s_df)

318

In [2]:
s_df.head()

   student_id  gender  leader_flag  support_flag  score
0           1       0            0             0    335
1           2       1            0             0    379
2           3       0            0             0    350
3           4       0            0             0    301
4           5       1            0             0    317

In [ ]:
s_df["student_id"]